# Go build
user/app
*.exe
*.out

# eBPF build artifacts
ebpf/build/
*.o

# generated headers
ebpf/headers/vmlinux.h

# logs
user/logs/
*.log

# OS junk
.DS_Store

# env file
.env

# Editor/IDE
# .idea/
.vscode/
